@font-face {
    font-family: 'UniSansThin';
    src: url(/fonts/Uni-Sans-Thin.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0px;
    margin: 0px;
}

.coverLine {
    font-family: "UniSansThin";
    color: white;
}
#bgImage {
    margin: 0px;
    padding: 0px;
    width: max-content;
}
.SAPlist {
    display: flex;
}
.SAPlistElem {
    padding: 50px;
    flex: 33.33%;
}
.SAPlistElem img {
    width: 300px;
}