@font-face {
    font-family: 'UniSansThin';
    src: url(/fonts/Uni-Sans-Thin.ttf);
    font-weight: normal;
    font-style: normal;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.navBar li {
    float: left;
}
  
.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
}
#logoHome {
    font-family: "UniSansThin";
    margin-right: 50px;
    margin-left: 150px;
}
  
/* Change the link color to #111 (black) on hover */
.navBar li a:hover {
    background-color: #111;
}