html, body {
    padding: 0;
    margin: 0;
}
.header {
  margin: 0;
}

.headerBar{
   text-align: left; 
   background-color: rgb(208, 226, 235); 
}
body{ 
    color: black;
}
#Logo{
    margin: 20px 20px;
    transition: 0.3s;
}
#homeButton{
    size: 10px;
}
#Logo:hover{
    transform: translateY(4px);
    transform: translateX(4px);
}
