html, body {
    padding: 0;
    margin: 0;
}
.header {
  margin: 0;
}

.headerBar{
   text-align: left; 
   background-color: rgb(208, 226, 235); 
}
body{ 
    color: black;
}
.homeButton{
    background-color: rgba(0, 0, 0, 0);
}
#Logo{
    visibility: visible;
    transition: 0.3s;
}
#Logo:hover{
    transform: translateY(4px);
    transform: translateX(4px);
}
