@font-face {
    font-family: joystiximport;
    src: url("../fonts/joystix monospace.ttf");
}
@font-face {
    font-family: bebasNeueImport;
    src: url("../fonts/BebasNeue-Regular.ttf");
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

html, body {
    padding: 0;
    margin: 0;
    background-image: url("../Assets/bg1.png");
}
.header {
    margin: 0;
}

.headerBar{
   background-color: rgba(208, 226, 235, 0.705); 
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 5px;
}
body{ 
    color: black;
}
.homeButton{
    border: none;
    background: none;
}
#Logo{
    visibility: visible;
    transition: 0.3s;
}
#Logo:hover{
    transform: translateY(4px);
    transform: translateX(4px);
}


.topNav{
    margin-left: 30px;
    background: none;
    overflow: hidden;
    float: right;
    padding-right: 5px;
}
.topNav a {
    border: 3px solid black;
    background-color: rgb(166, 211, 241);
    float: left;
    color: black;
    text-shadow: -2px 2px gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'joystiximport';
    transition: 0.2s;
    margin-left: 30px;
}
.topNav a:hover{
    color: white;
    border-color: white;
    background: rgb(105, 155, 230);
    transform: translateY(4px);
    transform: translateX(4px);
}

#itemsList{
    font-size: 35px;
    font-family: roboto,Helvetica,Arial,sans-serif;
    list-style-type: none;
}
#itemsList li{
    background-color: rgba(208, 226, 235, 0.705);
    border: 3px solid gray;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#itemsList #price{
    float: right;
    vertical-align: middle;
    text-align: right;
    font-size: 35px;
    font-family: "bebasNeueImport";
    color: rgb(32, 32, 32);
    margin: 0px 0px;
}
#itemsList .deleteBtn{
    float: right;
    vertical-align: middle;
    margin-left: 100px;
    background: none;
    border: none;
    transition: 0.1s;
}
#itemsList .deleteBtn:hover{
    filter: brightness(1.4);
}
#itemsList .deleteBtn:active{
    filter: drop-shadow(0px 5px 1px gray);
}