@font-face {
    font-family: joystiximport;
    src: url("../fonts/joystix monospace.ttf");
}

html, body {
    padding: 0;
    margin: 0;
    background-image: url("../Assets/bg1.png");
}
.header {
    margin: 0;
}

.headerBar{
   background-color: rgb(208, 226, 235); 
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 5px;
}
body{ 
    color: black;
}
.homeButton{
    border: none;
    background: none;
}
#Logo{
    visibility: visible;
    transition: 0.3s;
}
#Logo:hover{
    transform: translateY(4px);
    transform: translateX(4px);
}


.topNav{
    margin-left: 30px;
    background: none;
    overflow: hidden;
    float: right;
    padding-right: 5px;
}
.topNav a {
    border: 3px solid black;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'joystiximport';
    transition: 0.2s;
    margin-left: 30px;
}
.topNav a:hover{
    color: white;
    border-color: white;
    background: rgb(105, 155, 230);
    transform: translateY(4px);
    transform: translateX(4px);
}